openapi: "3.0.0"

info:
  title: Listing creation API
  version: v1
  contact:
    name: us
    email: daten@autoscout24.de
  description: |-
    API for creating listings that will be displayed on the AutoScout24 platform.

externalDocs:
  url: https://listing-creation.api.autoscout24.com/docs
  description: API documentation

servers:
  - url: https://listing-creation.api.autoscout24.com

security:
  - basicAuth: [ ]

paths:
  /customers:
    get:
      operationId: listCustomers
      summary: List all customers the user can operate on behalf of.
      responses:
        '200':
          description: |-
            The customers were correctly retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - customers

  /customers/{customerId}/listings:
    post:
      operationId: createListing
      summary: Creates a listing
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listings belong to
        - in: header
          name: X-Testmode
          schema:
            type: string
            format: boolean
          required: false
          description: |
            When set to true, the listing will be saved, but not published in the
            AutoScout24 platform. Also, the listing will only be available when
            the same header is set to true in the retrieve listing request.
        - in: header
          name: x-as24-lca-ng-api-listing-auto-completion-toggle
          schema:
            type: string
            format: boolean
          required: false
          description: |
            This header is optional and completely based on internal testing purposes.
            Never rely on this header in production as it may get removed anytime in the future..
        - in: header
          name: x-as24-lca-ng-api-pkw-en-vkv-amendment-enabled
          schema:
            type: string
            format: boolean
          required: false
          description: |
            This header is optional and completely based on internal testing purposes.
            Never rely on this header in production as it may get removed anytime in the future.
        - in: header
          name: x-as24-lca-ng-api-disable-setting-applied-seal
          schema:
            type: string
            format: boolean
          required: false
          description: |
            This header is optional and completely based on internal testing purposes.
            Never rely on this header in production as it may get removed anytime in the future.
        - in: header
          name: x-request-client-is-listing-form
          schema:
            type: string
            format: boolean
          required: false
          description: |
            This header is optional and completely based on internal testing purposes.
            Never rely on this header in production as it may get removed anytime in the future.
        - in: query
          name: culture
          schema:
            $ref: '#/components/schemas/ErrorCulture'
          required: false
          description: |
            Allow to localize the validation error messages to the language corresponding to the given culture.
            Defaults to en-GB.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingPayload'
            example:
              additionalFuelTypes:
                - 2
                - 3
              alloyWheelSize: 18
              availability:
                availabilityType: 1
              belgianCarpassMileageUrl: https://public.car-pass.be/vhr/2a0f0719-1b7a-4e42-84e1-c5c746ab1c39
              bodyColor: 2
              bodyColorName: British Racing Green
              bodyType: 1
              countryVersion: AT
              co2Emissions: 23
              consumption:
                combined: 6.3
              crossReferenceId: DATX_002
              cylinderCapacity: 1998
              cylinderCount: 4
              description: 'This car is **great**. \ It has the following features: \ * Low price
                \ * Great interior
              '
              doorCount: 5
              drivetrain: R
              efficiencyClass: 2
              emptyWeight: 1200
              equipment:
                - 1
                - 2
                - 4
                - 15
              euEmissionStandard: '1'
              externalCustomerId: '1'
              firstRegistrationDate: 2015-01
              fuelCategory: B
              gearCount: 6
              germanEmissionsSticker: 1
              hasFullServiceHistory: false
              hasParticleFilter: true
              highlights:
                - fully equipped
                - financing possible
              hsn: '0583'
              includedServices:
                - 1
                - 2
              condition:
                hadAccident: false
              isMetallic: true
              isNonSmoking: true
              lastCamBeltServiceDate: 2016-01
              lastTechnicalServiceDate: 2016-06
              leasingOffers:
                offers:
                  - referenceOfferId: '10'
                    contractType: KilometerLeasing
                    targetGroup: Both
                    grossListPrice: 139999.95
                    isTradeInPossible: true
                    downPayment: 10000
                    finalInstallment: 9000
                    negotiable: false
                    conditions: Begrenztes Angebot, nur bis 31.02.2020.
                    hasTransferCostsIncluded: true
                    transferCosts: 100
                    hasRegistrationCostsIncluded: false
                    registrationCosts: 99
                    leaseTotalAmount: 77005.6
                    netLoanAmount: 35956.34
                    borrowingRate: 95
                    borrowingRateType: Combined
                    effectiveInterestRate: 80
                    bank: Volkswagen Bank AG, Römerstr. 145, 04109 Leipzig
                    refundForLessDistance: 4.65
                    additionalDistanceCost: 12.65
                    dieselEnvironmentalBonus: false
                    duration: 48
                    includedMileage: 15
                    grossMonthlyRate: 1395.95
                    netMonthlyRate: 1095.95
              licencePlate: M-2411-DC
              make: 13
              marketing:
                mia:
                  requestedTier: T20
                  subtitle: First hand, from an authorized dealer. Discount.
                exclusiveOffer:
                  description: 10% off for the first 10 days.
                  endDate: '2020-05-01'
                listingBoost:
                  requested: false
              model: 1641
              modelVersion: Avant
              nextInspectionDate: 2028-01
              offerReferenceId: A12453
              offerType: U
              power: 110
              ppp:
                appliedTier: T30
              previousOwnerCount: 1
              prices:
                public:
                  price: 16500
                  netPrice: 8250
                  vatRate: 50
                  currency: EUR
                  isNegotiable: false
                  isTaxDeductible: true
                  germanEnvironmentalGrant:
                    priceAlreadyDiscounted: false
                    fixedAmount: 500
                dealer:
                  price: 16500
                  currency: EUR
              primaryFuelType: 1
              seatCount: 5
              transmission: M
              tsn: '936'
              twinner:
                key: 'https://data.twinner.com/displaydata/20211210/102/121021_d3ebf51e-1a07-4d97-b0f2-d830bb8601b3/'
              upholsteryColor: 1
              upholsteryType: AL
              vehicleType: C
              vin: AB023475861123745
              warranty: 12
              hasWarranty: true
              wasCabOrRental: false
              mileage: 75000
              publication:
                status: Inactive
                channels:
                  - id: AS24
      responses:
        '201':
          description: |-
            The listing was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '202':
          description: |-
            The listing was accepted successfully and marked as Inactive. Requires to process missing properties enrichment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - listings
    get:
      operationId: listListings
      summary: List all listings
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listings belong to
        - in: header
          name: X-Testmode
          schema:
            type: string
            format: boolean
          required: false
          description: |
            When set to true, it will only retrieve test listings.
        - in: query
          name: vinStatus
          schema:
            $ref: '#/components/schemas/VinEnrichmentStatus'
          explode: false
          required: false
          description: |
            Allow to filter the listings by vin enrichment status.
        - in: query
          name: include
          schema:
            type: string
          style: form
          explode: false
          required: false
          description: |
            A comma-separated list of fields to include in each listing summary.
            Currently supported: overwriteProtection. Unsupported values are rejected.
      responses:
        '200':
          description: |-
            200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - listings

  /customers/{customerId}/seals:
    get:
      operationId: getSealsForCustomer
      summary: Get all the seals for a specific customer
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the seals belong to
      responses:
        '200':
          description: |-
            200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Seals'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - seals

  /customers/{customerId}/listings/export-status:
    get:
      operationId: getListingsExportStatus
      summary: Get export status for all listings of a customer
      description: |-
        Retrieves the export status for all listings belonging to the specified customer.
        The endpoint aggregates listing data from the local database and export status data from an external service.
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listings belong to
        - in: query
          name: culture
          schema:
            $ref: '#/components/schemas/ErrorCulture'
          required: false
          description: |
            Allow to localize the error messages to the language corresponding to the given culture.
            Defaults to en-GB.
      responses:
        '200':
          description: |-
            Successfully retrieved export status for all listings
          content:
            application/json:
              schema:
                type: object
                properties:
                  listings:
                    type: array
                    items:
                      type: object
                      properties:
                        listingId:
                          type: string
                          format: uuid
                          description: The unique identifier of the listing
                        offerReferenceId:
                          type: string
                          nullable: true
                          description: Reference ID for the offer
                        crossReferenceId:
                          type: string
                          nullable: true
                          description: Cross reference ID
                        exportResults:
                          type: object
                          properties:
                            autoProff:
                              type: object
                              nullable: true
                              properties:
                                status:
                                  type: string
                                  enum: [SUCCESS, FAILURE, NOT_EXPORTED]
                                  description: Export status
                                url:
                                  type: string
                                  nullable: true
                                  description: URL of the exported listing
                                exportedListingId:
                                  type: string
                                  nullable: true
                                  description: ID of the listing in the export system
                                errors:
                                  type: array
                                  nullable: true
                                  items:
                                    type: string
                                  description: Error messages if export failed
              example:
                listings:
                  - listingId: "55049ac6-ba14-442a-8b56-8857fd13dab4"
                    offerReferenceId: "A12453"
                    crossReferenceId: "DATX_002"
                    exportResults:
                      autoProff:
                        status: "SUCCESS"
                        url: "https://www.autoproff.de/angebote/audi-a4-55049ac6"
                        exportedListingId: "cf04da2d-9c57-4757-8735-5257e4eb1cae"
                  - listingId: "7b8f3c21-9a45-4e2d-b6f1-3c8d7e9f2a1b"
                    offerReferenceId: "B98765"
                    crossReferenceId: "DATX_003"
                    exportResults:
                      autoProff:
                        status: "FAILURE"
                        errors:
                          - "Invalid vehicle data: missing required field 'makeModelVersion'"
                          - "Image quality does not meet marketplace requirements"
                  - listingId: "2d4e6f8a-1c3b-5d7e-9f0a-1b2c3d4e5f6a"
                    offerReferenceId: "C54321"
                    exportResults:
                      autoProff:
                        status: "NOT_EXPORTED"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - listings

  /customers/{customerId}/listings/{listingId}:
    get:
      operationId: getListing
      summary: Gets a listing
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listings belong to
        - in: path
          name: listingId
          schema:
            type: string
            format: guid
          required: true
          description: The ID of the listing
        - in: query
          name: culture
          schema:
            $ref: '#/components/schemas/Culture'
          explode: false
          required: false
          description: |
            Allow to adjust the listing URL to the AutoScout24 website corresponding to the given culture.
        - in: header
          name: X-Testmode
          schema:
            type: string
            format: boolean
          required: false
          description: |
            When set to true, the listing will not found unless it was created as a test listing.
      responses:
        '200':
          description: |-
            200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - listings
    put:
      operationId: updateListing
      summary: Updates a listing
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listings belong to
        - in: path
          name: listingId
          schema:
            type: string
          required: true
          description: The ID of the listing
        - in: header
          name: X-Testmode
          schema:
            type: string
            format: boolean
          required: false
          description: |
            When set to true, the listing will not found unless it was created as a test listing.
        - in: header
          name: x-as24-lca-ng-api-disable-setting-applied-seal
          schema:
            type: string
            format: boolean
          required: false
          description: |
            This header is optional and completely based on internal testing purposes.
            Never rely on this header in production as it may get removed anytime in the future.
        - in: header
          name: x-request-client-is-listing-form
          schema:
            type: string
            format: boolean
          required: false
          description: |
            This header is optional and completely based on internal testing purposes.
            Never rely on this header in production as it may get removed anytime in the future.
        - in: query
          name: culture
          schema:
            $ref: '#/components/schemas/ErrorCulture'
          required: false
          description: |
            Allow to localize the validation error messages to the language corresponding to the given culture.
            Defaults to en-GB.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingPayload'
            example:
              additionalFuelTypes:
                - 2
                - 3
              availability:
                availabilityType: 1
              belgianCarpassMileageUrl: https://public.car-pass.be/vhr/2a0f0719-1b7a-4e42-84e1-c5c746ab1c39
              bodyColor: 2
              bodyColorName: British Racing Green
              bodyType: 1
              co2Emissions: 23
              consumption:
                combined: 6.3
              countryVersion: AT
              crossReferenceId: DATX_002
              cylinderCapacity: 1998
              cylinderCount: 4
              description: 'This car is **great**. \ It has the following features: \ * Low price
                \ * Great interior
              '
              doorCount: 5
              drivetrain: R
              efficiencyClass: 2
              emptyWeight: 89999999
              equipment:
                - 1
                - 2
              euEmissionStandard: '1'
              externalCustomerId: '1'
              firstRegistrationDate: 2015-01
              fuelCategory: B
              gearCount: 6
              germanEmissionsSticker: 1
              hasFullServiceHistory: false
              hasParticleFilter: true
              hsn: '0583'
              includedServices:
                - 2
              condition:
                hadAccident: false
              isMetallic: true
              isNonSmoking: true
              lastCamBeltServiceDate: 2016-01
              lastTechnicalServiceDate: 2016-06
              leasingOffers:
                offers:
                  - referenceOfferId: '10'
                    contractType: KilometerLeasing
                    targetGroup: Both
                    grossListPrice: 139999.95
                    isTradeInPossible: true
                    downPayment: 10000
                    finalInstallment: 9000
                    negotiable: false
                    conditions: Begrenztes Angebot, nur bis 31.02.2020.
                    hasTransferCostsIncluded: true
                    transferCosts: 100
                    hasRegistrationCostsIncluded: false
                    registrationCosts: 99
                    leaseTotalAmount: 77005.6
                    netLoanAmount: 35956.34
                    borrowingRate: 95
                    borrowingRateType: Combined
                    effectiveInterestRate: 80
                    bank: Volkswagen Bank AG, Römerstr. 145, 04109 Leipzig
                    refundForLessDistance: 4.65
                    additionalDistanceCost: 12.65
                    dieselEnvironmentalBonus: false
                    duration: 48
                    includedMileage: 15
                    grossMonthlyRate: 1395.95
                    netMonthlyRate: 1095.95
              licencePlate: M-2411-DC
              make: 13
              mileage: 75000
              model: 1641
              nextInspectionDate: 2028-01
              offerReferenceId: A12453
              offerType: U
              power: 110
              previousOwnerCount: 1
              prices:
                public:
                  price: 16500
                  netPrice: 8250
                  vatRate: 50
                  currency: EUR
                  isNegotiable: false
                  isTaxDeductible: true
                  germanEnvironmentalGrant:
                    priceAlreadyDiscounted: false
                    fixedAmount: 500
                dealer:
                  price: 16500
                  currency: EUR
              primaryFuelType: 1
              seatCount: 5
              transmission: M
              tsn: '936'
              twinner:
                key: 'https://data.twinner.com/displaydata/20211210/102/121021_d3ebf51e-1a07-4d97-b0f2-d830bb8601b3/'
              upholsteryType: AL
              vehicleType: C
              vin: AB023475861123745
              warranty: 12
              hasWarranty: true
              youtubeVideoUrl: https://www.youtube.com/watch?v=wnKJnWRa_Ks
              images:
                - id: 1797aae6-c962-4522-81cb-a9c3f9761129
                - id: c3a1fae4-4177-4f4a-af63-c7bdaa95f8ed
              publication:
                status: Inactive
                channels:
                  - id: AS24
      responses:
        '200':
          description: |-
            200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '202':
          description: |-
            The listing was accepted successfully and marked as Inactive. Requires to process missing properties enrichment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - listings
    patch:
      operationId: partiallyUpdateListing
      summary: Partially updates a listing
      description: >
        This API supports updating listing specific field values without the need to send the whole payload.

      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listings belong to
        - in: path
          name: listingId
          schema:
            type: string
          required: true
          description: The ID of the listing
        - in: header
          name: X-Testmode
          schema:
            type: string
            format: boolean
          required: false
          description: |
            When set to true, the listing will not found unless it was created as a test listing.
        - in: header
          name: x-as24-lca-ng-api-pkw-en-vkv-amendment-enabled
          schema:
            type: string
            format: boolean
          required: false
          description: |
            This header is optional and completely based on internal testing purposes.
            Never rely on this header in production and will remove anytime in future.
        - in: header
          name: x-as24-lca-ng-api-disable-setting-applied-seal
          schema:
            type: string
            format: boolean
          required: false
          description: |
            This header is optional and completely based on internal testing purposes.
            Never rely on this header in production and will remove anytime in future.
        - in: query
          name: culture
          schema:
            $ref: '#/components/schemas/ErrorCulture'
          required: false
          description: |
            Allow to localize the validation error messages to the language corresponding to the given culture.
            Defaults to en-GB.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartialListingPayload'
            example:
              additionalFuelTypes:
                - 2
                - 3
              availability:
                availabilityType: 1
              belgianCarpassMileageUrl: https://public.car-pass.be/vhr/2a0f0719-1b7a-4e42-84e1-c5c746ab1c39
              bodyColor: 2
              bodyColorName: British Racing Green
              bodyType: 1
              co2Emissions: 23
              consumption:
                combined: 6.3
              countryVersion: AT
              crossReferenceId: DATX_002
              cylinderCapacity: 1998
              cylinderCount: 4
              description: 'This car is **great**. \ It has the following features: \ * Low price
                            \ * Great interior
                          '
              doorCount: 5
              drivetrain: R
              efficiencyClass: 2
              emptyWeight: 89999999
              euEmissionStandard: '1'
              externalCustomerId: '1'
              firstRegistrationDate: 2015-01
              fuelCategory: B
              gearCount: 6
              germanEmissionsSticker: 1
              hasFullServiceHistory: false
              hasParticleFilter: true
              hsn: '0583'
              includedServices:
                - 2
              condition:
                hadAccident: false
              isMetallic: true
              isNonSmoking: true
              lastCamBeltServiceDate: 2016-01
              lastTechnicalServiceDate: 2016-06
              leasingOffers:
                offers:
                  - referenceOfferId: '10'
                    contractType: KilometerLeasing
                    targetGroup: Both
                    grossListPrice: 139999.95
                    isTradeInPossible: true
                    downPayment: 10000
                    finalInstallment: 9000
                    negotiable: false
                    conditions: Begrenztes Angebot, nur bis 31.02.2020.
                    hasTransferCostsIncluded: true
                    transferCosts: 100
                    hasRegistrationCostsIncluded: false
                    registrationCosts: 99
                    leaseTotalAmount: 77005.6
                    netLoanAmount: 35956.34
                    borrowingRate: 95
                    borrowingRateType: Combined
                    effectiveInterestRate: 80
                    bank: Volkswagen Bank AG, Römerstr. 145, 04109 Leipzig
                    refundForLessDistance: 4.65
                    additionalDistanceCost: 12.65
                    dieselEnvironmentalBonus: false
                    duration: 48
                    includedMileage: 15
                    grossMonthlyRate: 1395.95
                    netMonthlyRate: 1095.95
              licencePlate: M-2411-DC
              make: 13
              mileage: 75000
              model: 1641
              nextInspectionDate: 2028-01
              offerReferenceId: A12453
              offerType: U
              power: 110
              previousOwnerCount: 1
              prices:
                public:
                  price: 16500
                  netPrice: 8250
                  vatRate: 50
                  currency: EUR
                  isNegotiable: false
                  isTaxDeductible: true
                  germanEnvironmentalGrant:
                    priceAlreadyDiscounted: false
                    fixedAmount: 500
                dealer:
                  price: 16500
                  currency: EUR
              primaryFuelType: 1
              seatCount: 5
              transmission: M
              tsn: '936'
              twinner:
                key: 'https://data.twinner.com/displaydata/20211210/102/121021_d3ebf51e-1a07-4d97-b0f2-d830bb8601b3/'
              upholsteryType: AL
              vehicleType: C
              vin: AB023475861123745
              warranty: 12
              hasWarranty: true
              youtubeVideoUrl: https://www.youtube.com/watch?v=wnKJnWRa_Ks
              publication:
                status: Inactive
                channels:
                  - id: AS24
              marketing:
                mia:
                  subtitle: "new subtitle"
                  requestedTier: "T30"
                listingBoost:
                  requested: false
              sealsOverwriteProtection: true
      responses:
        '200':
          description: |-
            200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '202':
          description: |-
            The listing was accepted successfully and marked as Inactive. Requires to process missing properties enrichment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - listings
    delete:
      operationId: deleteListing
      summary: Deletes a listing
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listings belong to
        - in: path
          name: listingId
          schema:
            type: string
          required: true
          description: The ID of the listing
        - in: header
          name: X-Testmode
          schema:
            type: string
            format: boolean
          required: false
          description: |
            When set to true, the listing will not found unless it was created as a test listing.
      responses:
        '204':
          description: |-
            Listing successfully deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - listings

  /customers/{customerId}/images:
    post:
      operationId: uploadImage
      summary: Uploads an image
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listings belong to
      requestBody:
        content:
          image/png:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary

      responses:
        '201':
          description: |-
            The image was successfully uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageReference'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - images

  /customers/{customerId}/listings/{listingId}/360-images/three-sixty-vr:
    post:
      operationId: uploadThreeSixtyVrImage
      summary: Uploads a 360 image of type ThreeSixtyVR
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listings belong to
        - in: path
          name: listingId
          schema:
            type: string
          required: true
          description: The ID of the listing which the 360 image will be attached to
        - in: query
          name: format
          schema:
            type: string
            enum:
              - Equirectangular
          required: true
          description: The format of the VR image
        - in: header
          name: X-Testmode
          schema:
            type: string
            format: boolean
          required: false
          description: |
            When set to true, the listing will not found unless it was created as a test listing.
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: |-
            The image was successfully uploaded and associated with the provided listing. The listing had already
            an image, which has been deleted.
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI where the created 360 image can be retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeSixtyVr'
        '201':
          description: |-
            The image was successfully uploaded and associated with the provided listing. The listing did not have
            an image before.
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI where the created 360 image can be retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeSixtyVr'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - 360images
    get:
      operationId: listThreeSixtyVrImages
      summary: lists 360 images of type ThreeSixtyVR
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listing belong to
        - in: path
          name: listingId
          schema:
            type: string
          required: true
          description: The ID of the listing whos 360 images will be retrieved
      responses:
        '200':
          description: |-
            The images were successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeSixtyVrs'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - 360images

  /customers/{customerId}/listings/{listingId}/360-images/three-sixty-vr/{imageId}:
    delete:
      operationId: deleteThreeSixtyVrImage
      summary: Deletes a 360VR image.
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listings belong to
        - in: path
          name: listingId
          schema:
            type: string
          required: true
          description: The ID of the listing
        - in: path
          name: imageId
          schema:
            type: string
          required: true
          description: The ID of the 360VR image to be deleted
      responses:
        '404':
          $ref: '#/components/responses/ResourceNotFound'
      tags:
        - 360images

  /customers/{customerId}/listings/{listingId}/360-images/three-sixty-images-collection:
    post:
      operationId: uploadThreeSixtyImagesCollectionImage
      summary: Uploads a 360 image of type ThreeSixtyImagesCollection
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listings belong to
        - in: path
          name: listingId
          schema:
            type: string
          required: true
          description: The ID of the listing which the 360 image will be attached to
        - in: header
          name: X-Testmode
          schema:
            type: string
            format: boolean
          required: false
          description: |
            When set to true, the listing will not found unless it was created as a test listing.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeSixtyImagesCollectionPayload'
      responses:
        '200':
          description: |-
            The image was successfully uploaded and associated with the provided listing.
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI where the created 360 image can be retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeSixtyImagesCollection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - 360images
    get:
      operationId: listThreeSixtyImagesCollectionImages
      summary: lists 360 images of type ThreeSixtyImagesCollection
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listing belong to
        - in: path
          name: listingId
          schema:
            type: string
          required: true
          description: The ID of the listing whos 360 images will be retrieved
      responses:
        '200':
          description: |-
            The images were successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeSixtyImagesCollections'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - 360images

  /customers/{customerId}/listings/{listingId}/360-images/three-sixty-images-collection/{imageId}:
    delete:
      operationId: deleteThreeSixtyImagesCollectionImage
      summary: Deletes a 360 Images Colleciton image.
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer whom the listings belong to
        - in: path
          name: listingId
          schema:
            type: string
          required: true
          description: The ID of the listing
        - in: path
          name: imageId
          schema:
            type: string
          required: true
          description: The ID of the image to delete
      responses:
        '204':
          description: |-
            Image successfully deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - 360images

  /statistics/{customerId}/listings:
    get:
      operationId: getListingStatisticsBatched
      summary: Gets the statistics for all listings of a customer
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer
          example: 123
        - in: query
          name: startToken
          required: false
          example: "eyJ0eXAiOi"
          schema:
            type: string
          description: |
            Currently ignored!
            A opaque start token to retrieve the next batch of statistics.
            If not set, the first batch is returned.
            The startToken can only be obtained from a previous response and may not be set manually.
        - in: query
          name: maxItems
          required: false
          example: 100
          schema:
            type: integer
            minimum: 1
          description: |
            Currently ignored!
            A hint for the maximum number of statistics to return.
            If not set, the maximum number of statistics is returned.
            This parameter is taken as a hint and the server may return more or less results.
        - in: header
          name: x-as24-lca-ng-api-enable-v3-competitive-insights
          schema:
            type: string
            format: boolean
          required: false
          description: |
            This header is optional and completely based on internal testing purposes.
            Never rely on this header in production as it may get removed anytime in the future.
      responses:
        '200':
          description: |-
            The statistics were successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingsStatisticsWrapperPaged'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          description: If the customer does not exist, is not active or no statistics are available for the given customer.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - statistics

  /statistics/{customerId}/listings/{listingId}:
    get:
      operationId: getListingStatisticsSingle
      summary: Gets the statistics for a specific listing of a customer
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer
          example: '123456'
        - in: path
          name: listingId
          schema:
            type: string
          required: true
          description: The GUID ID of the listing
          example: '123e4567-e89b-12d3-a456-426614174000'
      responses:
        '200':
          description: |-
            The statistics were successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingsStatisticsWrapper'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          description: If the customer does not exist, is not active or no statistics are available for the given customer.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - statistics

  /seals:
    get:
      operationId: getSeals
      summary: Get the list of all seals
      responses:
        '200':
          description: The seals were correctly retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Seals'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - seals

  /makes:
    get:
      operationId: getMakes
      summary: Gets the list of all makes, and their respective models
      parameters:
        - in: query
          name: makeId
          schema:
            type: array
            items:
              type: integer
          explode: true
          required: false
          description: |
            Allows to filter the response to only contain the makes with the specified identifier.
            Can be multi-valuated if the parameter is included multiple times.
        - in: query
          name: culture
          schema:
            $ref: '#/components/schemas/Culture'
          explode: false
          required: false
          description: |
            Allow to localize the references names to the language corresponding to the given culture.
        - in: query
          name: marketplace
          description: |
            Allows to filter the response to only contain the makes/models that are available in the specified marketplace.
            Defaults to "de" if not specified.
          required: false
          schema:
            $ref: '#/components/schemas/Marketplace'
      responses:
        '200':
          description: |-
            The makes were correctly retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Makes'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - makes

  /references:
    get:
      operationId: getReferences
      summary: Gets the list of all references that allow to describe the attributes of a vehicle
      parameters:
        - in: query
          name: referenceType
          schema:
            $ref: '#/components/schemas/ReferenceType'
          explode: true
          required: false
          description: |
            Allows to filter the response to only contain the references of the specified type.
            Can be multi-valuated if the parameter is included multiple times.
        - in: query
          name: culture
          schema:
            $ref: '#/components/schemas/Culture'
          explode: false
          required: false
          description: |
            Allow to localize the references names to the language corresponding to the given culture.
        - in: query
          name: marketplace
          description: |
            Allows to filter the response to only contain the makes/models that are available in the specified marketplace.
            Defaults to "de" if not specified.
          required: false
          schema:
            $ref: '#/components/schemas/Marketplace'

      responses:
        '200':
          description: |-
            The references were correctly retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/References'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - references

  /priceevaluation/{customerId}:
    post:
      operationId: getListingPriceEvaluation
      summary: Evaluates the price for a given listing.
      description: >
        This endpoint is restricted. If you are interested in using the price evaluation feature, please contact AutoScout24 to have it activated.
        
        **Note:**
        The following attributes from the <code>ListingPayload</code> are considered during price evaluation:
        
        **Required fields in the request body:**
          - `prices.public.price`: The public price of the listing
          - `offerType`: The type of offer
          - `make`: The vehicle make
          - `model`: The vehicle model
          - `bodyType`: The body type of the vehicle
          - `firstRegistrationDate`: The date of first registration
          - `fuelCategory`: The fuel category
          - `power`: The engine power
          - `transmission`: The type of transmission
        
        **Optional fields in the request body (used if present):**
          - `mileage`: The mileage of the vehicle
          - `consumption.combined`: Combined fuel consumption
          - `consumption.electricCombined`: Combined electric consumption
          - `doorCount`: Number of doors
          - `bodyColor`: The color of the vehicle body
          - `equipment`: List of equipment features
          - `availability.deliveryDays`: Number of days until delivery
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true
          description: The ID of the customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingPayload'
      responses:
        '200':
          description: |-
            The price evaluation was correctly retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceEvaluationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/AuthenticationFailed'
        '403':
          $ref: '#/components/responses/ResourceNotAuthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - priceevaluation

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic

  responses:
    BadRequest:
      description: |-
        The provided payload (JSON body and/or query parameters) can't be validated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    AuthenticationFailed:
      description: |
        The supplied user credentials are invalid
    ResourceNotAuthorized:
      description: |
        The requested resource cannot be operated by the supplied user
    ResourceNotFound:
      description: |-
        The requested resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    RateLimitExceeded:
      description: |-
        The rate limit was exceeded. Try again later.
    ServerError:
      description: |
        There was an unexpected error on AutoScout24 side
    ServiceUnavailable:
      description: |
        The service is not available at the moment, likely due to a maintenance being performed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    UnprocessableEntity:
      description: |
        The service understands the content type of the request entity, and the syntax of the request entity is correct, but it was unable to process the contained instructions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'

  schemas:
    AvailabilityShared:
      type: object
      description: Shared attributes for an availability object.
      properties:
        availabilityType:
          type: integer
          description: |
            The availability of the vehicle. For example, "1" (available immediately)

            > Allowed values can be retrieved via the references API (reference type AvailabilityType)

          example: 1
        deliveryDays:
          type: integer
          enum: [ 1, 2, 3, 4, 5, 6, 7, 14, 21, 28, 42, 60, 90, 120, 150, 180, 270, 360 ]
          description: |
            The number of days it will take to deliver the vehicle

            > Either <code>deliveryDate</code> or <code>deliveryDays</code> must be present if the vehicle is not available immediately (availabilityType <code>2</code> or <code>3</code>)

          example: 7
        deliveryDate:
          type: string
          format: date
          description: |
            The earliest date that the vehicle can be delivered

            > Either <code>deliveryDate</code> or <code>deliveryDays</code> must be present if the vehicle is not available immediately (availabilityType <code>2</code> or <code>3</code>)

          example: 2018-12-01

    Autoproff:
      type: object
      description: Stores autoproff related attributes
      properties:
        mode:
          type: string
          enum: [ "write", "read", "ap_deleted" ]
          description: |
            Autoproff mode of the listing. Attribute can not be set.
          example: "write"
        hasOffer:
          type: boolean
          description: |
            Indicates whether the listing currently has an Autoproff offer.
          example: true

    Availability:
      required: [ availabilityType ]
      allOf:
        - $ref: '#/components/schemas/AvailabilityShared'

    BatteryCommon:
      type: object
      description: Provides information about the vehicle's battery
      properties:
        ownershipType:
          type: string
          example: 2
          description: |
            Ownership type of the battery.
            > Allowed values can be retrieved via the references API (reference type BatteryOwnershipType).
        chargingTime10to80Minutes:
          type: integer
          example: 800
          maximum: 25200
          minimum: 1
          description: |
            The time it takes in minutes to charge this car from 10% to 80% via the fastest way of charging.
        capacity:
          type: integer
          maximum: 999999
          minimum: 0
          description: |
            The capacity of the battery, in kWh.
          example: 5
        chargingTime:
          type: integer
          example: 800
          maximum: 1439
          minimum: 1
          description: |
            The time the car needs at 11KW charging station (comparable to the charging power of a Wallbox installed
            at home). Notation in minutes, integer.
        plugTypes:
          type: array
          uniqueItems: true
          description: |
            A set of supported plug types available at the vehicle.
            
            > Allowed values can be retrieved via the references API (reference type PlugType).
          example: ["TYPE_1", "TYPE_2"]
          items:
            type: string
        warrantyPeriod:
          type: integer
          minimum: 1
          maximum: 99
          description: The battery warranty period, in years.
          example: 8
        warrantyMileage:
          type: integer
          minimum: 1
          maximum: 999999
          description: The battery warranty mileage, in kilometers.
          example: 160000
        stateOfHealth:
          type: number
          minimum: 0
          exclusiveMinimum: true
          maximum: 100
          multipleOf: 0.1
          description: The battery state of health percentage. Values must be greater than zero and have at most one decimal place.
          example: 92.5
        bidirectionalChargingTypes:
          type: array
          uniqueItems: true
          description: |
            A set of supported bidirectional charging types available at the vehicle.

            > Allowed values can be retrieved via the references API (reference type BidirectionalChargingType).
          example: ["V2G", "V2L"]
          items:
            type: string

    BatteryPayload:
      allOf:
        - $ref: '#/components/schemas/BatteryCommon'

    Battery:
      allOf:
        - $ref: '#/components/schemas/BatteryCommon'
        - type: object
          properties:
            capacityUnit:
              type: string
              description: Unit used for capacity field.
              example: "kWh"
    Channel:
      type: object
      description: a reference to a publication channel.
      required:
        - id
      properties:
        id:
          description: The identifier of the channel
          allOf:
            - $ref: '#/components/schemas/ChannelId'
        url:
          type: string
          format: url
          description: The URL where the listing is visible for the given channel
          example: "https://www.autoscout24.de/angebote/bmw-118-cf04da2d-9c57-4758-8735-5257e4eb1cae"

    ChannelId:
      description: |
        The id of a publication channel.
        <code>AS24Dealer</code> means that the vehicle is visible on AutoScout24’s dealer specific platform.
        <code>AS24</code> means that the vehicle is visible on AutoScout24’s general platform. Bear in mind this is a superset of ‘AS24Dealer’.
        <code>AutoTrack</code> means that the vehicle is published on AutoTrack in the Netherlands and displayed on both platforms.
        <code>AutoTrackShared</code> means that the vehicle is an existing shared listing displayed on both platforms.
        <code>AutoTrackOnly</code> means that the vehicle is displayed only on AutoTrack.
        <code>mobile_de</code> means that the vehicle is visible on <code>mobile_de</code> platform. This is not available for all customers yet, contact customer care to learn more.
        <code>autoproff</code> indicates exporting this vehicle to Autoproff without publishing it (can be used for Auctions). No effect if the customer has no B2B Marketplace Manual Transfer activation.
        <code>autoproff_marketplace_public</code> indicates publishing this vehicle to the B2B marketplace. No effect if the customer has no B2B Marketplace Manual Transfer activation.
        At least one publication channel must have the value <code>AS24</code> or <code>AS24Dealer</code>, unless the listing is Autoproff-exclusive.
      type: string
      enum: [ "AS24", "AS24Dealer", "AutoTrack", "AutoTrackShared", "AutoTrackOnly", "mobile_de", "autoproff", "autoproff_marketplace_public"]
      example: "AS24"

    ChannelReference:
      type: object
      description: a reference to a publication channel.
      required:
        - id
      properties:
        id:
          description: The identifier of the channel
          allOf:
            - $ref: '#/components/schemas/ChannelId'

    Condition:
      type: object
      description: Describes the current condition of the vehicle.
      properties:
        hadAccident:
          type: boolean
          description: Should be set to true if the vehicle has had an accident in the past, irrespective of whether the vehicle has been repaired, or is currently roadworthy.
          example: true
        isCurrentlyDamaged:
          type: boolean
          description: |
            Should be set to true if the vehicle is currently damaged.

            > This attribute is only available for the German market. Its value won't be considered valid and won't be displayed in the AutoScout24 websites from other countries.
          example: true
        isRoadworthy:
          type: boolean
          description: |
            Should be set to true if the vehicle is fit for use on the road.

            > This attribute is only available for the German market. Its value won't be considered valid and won't be displayed in the AutoScout24 websites from other countries.
          example: true
        description:
          type: string
          description: |
            Detailed description of the condition.
          example: |
            This car is **great**. \ It has no accidents: \ * not damaged \ * not painted
        hasRepairedDamages:
          type: boolean
          description: |
            Whether it has damages that are repaired.
          example: true
        isCabinClean:
          type: boolean
          description: |
            Indicates if the cabin is clean.

            > Forbidden for vehicleType <code>C</code> (car), <code>B</code> (bike), <code>N</code> (caravan/mobile home), <code>L</code> (trailer), <code>O</code> (boat), <code>W</code> (personal watercraft), <code>S</code> (snowmobile)
          example: true

    Consumption:
      type: object
      description: Provides information about the different fuel and electric consumption the vehicle has.
      properties:
        combined:
          type: number
          minimum: 0.1
          maximum: 99.9
          description: |
            Vehicle’s combined fuel consumption. l/100 km for petrol and diesel vehicles, kg/100km for compressed natural gas and hydrogen vehicles.

            > Mandatory for German dealers when the vehicle type is <code>C</code> (Car), the primary fuel type is not <code>12</code> (Electricity) and the car is considered new (<code>mileage</code> <= 1000 and <code>firstRegistrationDate</code> <= 8 months).

            > Forbidden for vehicleType <code>L</code> (trailer)

            > Forbidden for German dealers when the vehicle type is <code>C</code> (Car) or <code>X</code> (Light Commercial Vehicle) and primary fuel type <code>12</code> (Electricity).

            > However, when both fields <code>primaryFuelType</code> and <code>additionalFuelTypes</code> are set, then both <code>combined</code> and <code>electricCombined</code> are allowed.
          example: 6.3
        electricCombined:
          type: number
          minimum: 0.1
          maximum: 99.9
          description: |
            Electric vehicle’s combined power consumption in kWh/100 km.

            > *Deprecated, use <code>wltp.consumptionElectricCombined</code> or <code>wltp.consumptionElectricCombinedWeighted</code> instead*

            > Mandatory for German dealers when the vehicle type is <code>C</code> (Car), the primary fuel type is <code>12</code> (Electricity) and the car is considered new (<code>mileage</code> <= 1000 and <code>firstRegistrationDate</code> <= 8 months).

            > Forbidden for vehicleType <code>L</code> (trailer)

            > Forbidden for German dealers when vehicle type <code>C</code> (Car) or <code>X</code> (Light Commercial Vehicle) and primary fuel type different than <code>12</code> (Electricity).

            > However, when both fields <code>primaryFuelType</code> and <code>additionalFuelTypes</code> are set, then both <code>combined</code> and <code>electricCombined</code> are allowed.
          example: 6.6

    Culture:
      description: |
        A combination of country and language in which AutoScout24 offers their service, encoded as a locale.
        The AutoScout24.com domain is offered in English and is represented by the culture <code>en-GB</code>
      type: string
      enum: [ "de-DE", "de-AT", "nl-BE", "fr-BE", "fr-FR", "it-IT", "es-ES", "fr-LU", "en-GB", "nl-NL", "fr-CA", "en-CA" ]
      example: de-DE

    ErrorCulture:
      type: string
      enum: [ "de-DE", "de-AT", "it-IT", "en-GB" ]
      example: de-DE
      description: Supported cultures for translating validation error messages.

    CursorPagination:
      type: object
      properties:
        cursorPagination:
          type: object
          example: |
            {
              "startToken": "eyJ0eXAiOi",
              "maxItems": 10000,
              "nextPage": "https://listing-creation.api.autoscout24.com/statistics/123/listings?start_token=eyJ0eXAiOi&max_items=10000"
            }
          required:
            - startToken
            - maxItems
          description: |
            The cursor pagination object. This object is used to paginate through the listings statistics.
          properties:
            startToken:
              type: string
              description: |
                The opaque token used to start the current page.
              example: "eyJ0eXAiOi"
            maxItems:
              type: integer
              description: The applied limit for the number of items in the response.
              example: 10000
            nextPage:
              type: string
              description: |
                The optional URL to retrieve the next page of the cursor pagination.
                If not set, you reached the end of the pagination.
                All previously set parameters will be kept as is.
              example: "https://listing-creation.api.autoscout24.com/statistics/123/listings?start_token=eyJ0eXAiOi&max_items=10000"

    Customer:
      required:
        - id
        - canSetMiaRequestedTier
        - canUseSellOnline
      example:
        id: "2142082683"
        sellId: "892611"
        companyName: "ATEST Motors LT"
        canSetMiaRequestedTier: true
        canUseSellOnline: true
        externalId: "1085"
      properties:
        id:
          description: The unique identifier of this customer used throughout the API
          type: string
          example: "2142082683"
        sellId:
          description: |
            Customer identification number (Sell-ID) from the AutoScout24 CRM system, which is also printed on official dealer invoice/communication documents.
            Note: only the id can be used to make requests.
          type: string
          example: "892611"
        companyName:
          description: |
            Customer company name from the AutoScout24 CRM system.
          type: string
          example: "ATEST Motors LT"
        canSetMiaRequestedTier:
          description: |
            If a customer has a contract to use the manualTier feature.
            See MiaPayload section for more information about this feature.
          type: boolean
          example: true
        canUseSellOnline:
          description: |
            If a customer has a contract to use the sellOnline feature.
            <strong>:construction: This functionality is currently under construction and will not be shown to Autoscout24 users</strong>
          type: boolean
          example: true
        externalId:
          description: |
            An optional String ID that can be set by customer care to identify the dealer across systems.
          type: string
          example: "1085"
        configuration:
          description: |
            Configuration options for the customer including package and product settings.
            This field is only included when the customer has a package or enabled AutoProff marketplace configuration.
          allOf:
            - $ref: '#/components/schemas/CustomerConfiguration'

    CustomerConfiguration:
      description: Configuration options for the customer including package and product settings
      required:
        - products
      properties:
        package:
          description: The customer's tiered pricing package (e.g., SMART, PREMIUM)
          type: string
          example: "SMART"
        products:
          description: Product-specific configuration for the customer
          allOf:
            - $ref: '#/components/schemas/ProductsConfiguration'

    ProductsConfiguration:
      description: Product-specific configuration for the customer
      required:
        - autoProff
      properties:
        autoProff:
          description: AutoProff marketplace configuration for the customer
          allOf:
            - $ref: '#/components/schemas/AutoProffConfiguration'
        selectBoost:
          description: SelectBoost configuration for the customer
          allOf:
            - $ref: '#/components/schemas/SelectBoostConfiguration'

    AutoProffConfiguration:
      description: AutoProff marketplace configuration for the customer
      required:
        - transferOption
      properties:
        transferOption:
          description: |
            The listing transfer option for AutoProff. This field is always present when the configuration object is included.
            Inactive and legacy modes are automatically mapped to "Deactivated".
            Possible values:
            - "Deactivated" (set for package-only customers without AutoProff, or when inactive/legacy transfer modes)
            - "Full Inventory Transfer Active"
            - "Manual Listing Transfer Active"
          type: string
          example: "Deactivated"

    SelectBoostConfiguration:
      description: SelectBoost configuration for the customer
      required:
        - activationMode
      properties:
        activationMode:
          description: |
            Indicates how SelectBoost can be activated for the customer.
            Possible values:
            - "Automatic" when included units are available
            - "Manual" when SelectBoost is available but no included units are configured
            - "Inactive" when SelectBoost is inactive
          type: string
          example: "Automatic"
        includedUnits:
          description: Included SelectBoost units for automatic activation.
          type: integer
          format: int64
          example: 10

    CustomerSeals:
      properties:
        sealsId:
          type: array
          description: List of seals
          example: [ 1, 2, 3 ]
          uniqueItems: true
          items:
            type: integer
            description: List of seals

    Customers:
      example:
        customers:
          - id: "2142082683"
            sellId: "892611"
            companyName: "ATEST Motors LT"
            canSetMiaRequestedTier: true
            canUseSellOnline: true
            externalId: "1085"
          - id: "2142082684"
            sellId: "892612"
            companyName: "BestCars GmbH"
            canSetMiaRequestedTier: false
            canUseSellOnline: true
            configuration:
              package: "SMART"
              products:
                autoProff:
                  transferOption: "Deactivated"
                selectBoost:
                  activationMode: "Automatic"
                  includedUnits: 10
      properties:
        customers:
          description: a list of customers
          type: array
          items:
            $ref: '#/components/schemas/Customer'

    DealerPrice:
      allOf:
        - $ref: '#/components/schemas/Price'
        - type: object
          properties:
            netPrice:
              type: integer
              minimum: 1
              description: |
                Net price for the vehicle
                
                > Must be less than <code>price</code>
              example: 15300
            vatRate:
              type: number
              minimum: 0.0
              maximum: 100.0
              description: |
                The value added tax rate.

                > Only 1 decimal is accepted. If more decimals are sent they will be truncated.
              example: 17

    Discount:
      required:
        - priceAlreadyDiscounted
        - fixedAmount
      properties:
        priceAlreadyDiscounted:
          type: boolean
          example: false
          description: |
            Indicates whether a discount is already included in a price / monthly rate.
        fixedAmount:
          type: integer
          description: |
            An amount to be discounted
          example: 500

    ExclusiveOfferPayload:
      required:
        - description
        - endDate
      properties:
        description:
          type: string
          maxLength: 300
          description: |
            A description about the exclusive offer
            <strong>🚧 This functionality is currently under construction and will not be shown to Autoscout24 users</strong>
          example: 10% off for the first 10 days.
        endDate:
          type: string
          format: date
          description: |
            A date by which the exclusive offer expires.
            <strong>🚧 This functionality is currently under construction and will not be shown to Autoscout24 users</strong>
          example: 2020-09-10

    ExclusiveOffer:
      properties:
        description:
          type: string
          maxLength: 300
          description: |
            A description about the exclusive offer
            <strong>🚧 This functionality is currently under construction and will not be shown to Autoscout24 users</strong>
          example: 10% off for the first 10 days.
        endDate:
          type: string
          format: date
          description: |
            A date by which the exclusive offer expires.
            <strong>🚧 This functionality is currently under construction and will not be shown to Autoscout24 users</strong>
          example: 2020-09-10

    FallbackAttributesBase:
      required:
        - value
        - sourceTimestamp
      properties:
        value:
          type: number
          example: 85.4
          description: |
            Number value for fallback attributes.
        sourceTimestamp:
          type: string
          format: date-time
          example: 2019-02-07T16:07:00.665267Z
          description: |
            Datetime value for fallback attributes in ISO-8601 format.

    FallbackAttributesInteger:
      required:
        - value
        - sourceTimestamp
      properties:
        value:
          type: integer
          example: 1
          description: |
            Integer value for fallback attributes.
        sourceTimestamp:
          type: string
          format: date-time
          example: 2019-02-07T16:07:00.665267Z
          description: |
            Datetime value for fallback attributes in ISO-8601 format.

    FallbackAttributesConsumption:
      description: |
        Consumption fallback attributes.
      properties:
        combined:
          description: Combined fallback attributes in consumption.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesBase'
        electricCombined:
          description: Electric combined fallback attributes in consumption.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesBase'

    FallbackAttributesWltp:
      properties:
        co2EmissionsCombined:
          description: |
            Co2 emissions combined fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesBase'
        co2EmissionsCombinedWeighted:
          description: |
            Co2 emissions combined weighted fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesBase'
        consumptionCombined:
          description: |
            Consumption combined fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesBase'
        consumptionElectricCombined:
          description: |
            Consumption electric combined fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesBase'
        consumptionCombinedWeighted:
          description: |
            Consumption combined weighted fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesBase'
        consumptionElectricCombinedWeighted:
          description: |
            Consumption electric combined weighted fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesBase'
        co2Class:
          description: |
            Co2 class fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesInteger'
        consumptionCombinedDischarged:
          description: |
            Consumption combined discharged fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesBase'
        co2ClassDischarged:
          description: |
            Co2 class discharged fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesInteger'

    FallbackAttributes:
      properties:
        electricRange:
          description: |
            Electric range fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesBase'
        wltp:
          description: |
            Wltp fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesWltp'
        co2Emissions:
          description: |
            Co2 emissions fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesBase'
        consumption:
          description: |
            Consumption fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesConsumption'
        efficiencyClass:
          description: |
            Efficiency class fallback attributes.
          allOf:
            - $ref: '#/components/schemas/FallbackAttributesBase'
    FinancingOffer:
      allOf:
        - $ref: '#/components/schemas/FinancingOfferCommon'
        - type: object
          properties:
            annualRateUnit:
              type: string
              description: Unit used for annualRate field.
              example: "%"
            debitInterestRateUnit:
              type: string
              description: Unit used for debitInterestRate field.
              example: "%"
            durationUnit:
              type: string
              description: Unit used for duration field.
              example: months

    FinancingOfferPayload:
      required: [ annualRate, bank, currency, debitInterestRate, debitInterestType, duration, financingType, grossCreditAmount, monthlyRate, netCreditAmount ]
      allOf:
        - $ref: '#/components/schemas/FinancingOfferCommon'

    FinancingOfferCommon:
      properties:
        annualRate:
          minimum: 0
          maximum: 99.99
          type: number
          description: Annual rate in %.
          example: 10
        bank:
          type: string
          maxLength: 2000
          description: |
            Name, legal form, address, postal code and city of bank as well as other financing offer conditions.
            Also indicate whether the financing offer requires the conclusion of an insurance contract or a contract for other supplementary benefits.
            If the cost of this contract cannot be determined in advance, indicate the obligation to conclude this contract
            (e.g. compulsory conclusion of a comprehensive insurance contract)
          example: Mercedes-Benz Bank AG, Siemensstraße 7, 70469 Stuttgart
        bankSecondLanguage:
          type: string
          maxLength: 2000
          description: |
            Dealers using EDF (Exclusive Dealer Financing) in Belgium need to fill in an additional "Other Financing Conditions" field.
            Due to legal requirements, text needs to be displayed in French on FR-BE and in Dutch on NL-BE.
            In order to avoid financial consequences, both versions must be filled in.
          example: |
            FR version: Prêt à tempérament tous buts de 8.500 €, TAEG (Taux Annuel Effectif Global) de 5,99% (taux débiteur annuel fixe : 5,99%),
            mensualité de 198,96 € pour une durée de crédit de 48 mois.
            NL version: Lening op afbetaling van € 8.500, JKP (jaarlijks kostenpercentage) van 5,99% (vaste jaarlijkse debetrente: 5,99%),
            maandelijkse aflossing van € 198,96 voor een looptijd van het krediet van 48 maanden.
        closingCosts:
          type: number
          minimum: 0
          maximum: 999999.99
          description: |
            A fee for placing the loan contract.
          example: 250.00
        currency:
          type: string
          enum: [ "EUR" ]
          description: |
            Currency for given financing offer fields.
          example: EUR
        debitInterestType:
          type: integer
          description: |
            Debit interest type.

            > Allowed values can be retrieved via the references API (reference type DebitInterestType).

          example: 1
        debitInterestRate:
          type: number
          minimum: 0
          maximum: 99.99
          description: Debit interest rate in %.
          example: 15
        duration:
          type: integer
          minimum: 1
          maximum: 999
          description: Duration of the loan contract in months.
          example: 3
        endingRate:
          type: number
          description: Ending rate.
          example: 100
          minimum: 0.00
          maximum: 999999.99
        financingType:
          type: string
          description: |
            Financing type.

            > Meaning of the values: <code>C</code> (Credit)

          enum: [ "C" ]
          example: C
        grossCreditAmount:
          type: number
          minimum: 0.01
          maximum: 999999999.99
          description: |
            Gross credit amount in EUR.
          example: 1000
        initialPayment:
          type: number
          minimum: 0.00
          maximum: 999999.99
          description: |
            Initial payment for the loan in EUR (if applicable).
          example: 5000
        monthlyRate:
          type: number
          minimum: 0.00
          maximum: 999999.99
          description: |
            Monthly rate in EUR.
          example: 200
        netCreditAmount:
          type: number
          minimum: 0.00
          maximum: 999999999.99
          description: |
            Net credit amount in EUR.
          example: 19999.9
        paymentProtectionInsurance:
          type: number
          minimum: 0.00
          maximum: 999999999.99
          description: |
            Monthly payment protection insurance rate in EUR.
          example: 100

    Highlight:
      description: |
        A short note highlighting a key feature of the vehicle

        > URLs are forbidden in the content

        > Emails are forbidden in the content

        > Forbidden characters are<code>&lt;</code> or <code>&gt;</code>
      type: string
      maxLength: 30
      minLength: 1
      example: "fully equipped"

    OnlineSale:
      type: object
      description: |
        An object describing the countries where the vehicle can be sold online and delivered to the buyer

        > only available for dealers
        > added to the listing when the customer has a National Listings subscription
      properties:
        deliveryAreas:
          type: object
          description: |
            The countries where the vehicle can be sold online and delivered to the buyer.
          example: |
            {
              "national": "DE"
            }
          properties:
            national:
              type: string
              format: string
              description: Country in which the listing can be delivered
              example: "DE"

    Image:
      required:
        - id
      properties:
        id:
          type: string
          format: guid
          description: The image identifier
          example: 269e6ae5-a49b-4ea5-85a2-9c2093c26287
        previewUrl:
          description: The URL of the image
          type: string
          example: "https://prod.pictures.autoscout24.net/listing-images/d0b91f24-68c2-4683-b575-db510e97fc2d_e5079988-9e05-43f0-8cba-6f37e6f1de28.jpg"
        md5:
          description: The unique MD5 hash identifier for image
          type: string
          example: bb3da223907cbe437bab4cf2e7343d61


    ImagePayload:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          format: guid
          description: The identifier of the image to associate to the listing
          example: 269e6ae5-a49b-4ea5-85a2-9c2093c26287

    ImageReference:
      required:
        - id
      properties:
        id:
          type: string
          format: guid
          description: The image identifier
          example: 269e6ae5-a49b-4ea5-85a2-9c2093c26287

    ImageMd5:
      properties:
        md5:
          description: The unique MD5 hash identifier for image
          type: string
          example: bb3da223907cbe437bab4cf2e7343d61

    ImagePresignedUrl:
      properties:
        imagePresignedUrl:
          description: |
            A pre-signed URL that allows you to grant temporary access to image for users who don't have permission to AWS S3 bucket.
            A pre-signed URL is signed with your credentials and can be used by any user.
          type: string
          example: https://{bucket-name}-{aws-account}-{aws-region}.s3.eu-west-1.amazonaws.com/{imageId}.{format}?{response-content}

    ImageStandard:
      allOf:
        - $ref: '#/components/schemas/ImagePresignedUrl'
        - $ref: '#/components/schemas/ImageReference'

    LeasingOffersPayload:
      required:
        - offers
      properties:
        offers:
          type: array
          description: |
            Allows a dealer to offer leasing when selling the vehicle.

            > Not available for dealers outside germany. This attribute only applies for customers that are dealers.
          items:
            $ref: '#/components/schemas/LeasingOfferPayload'
        providerId:
          type: string
          description: leasing offers id
          example: 823892

    LeasingOfferPayload:
      required:
        - contractType
        - downPayment
        - bank
        - duration
        - includedMileage
        - grossMonthlyRate
        - targetGroup
      allOf:
        - $ref: '#/components/schemas/LeasingOfferCommon'

    LeasingOfferCommon:
      properties:
        referenceOfferId:
          type: string
          description: A reference ID for the leasing offer from the partner.
          example: a100
          minLength: 1
          maxLength: 50
        contractType:
          description: Type of leasing contract
          type: string
          enum: [ "KilometerLeasing" ]
          example: KilometerLeasing
        targetGroup:
          description: Target group
          type: string
          enum: [ "Private","Business","Both" ]
          example: Both
        grossListPrice:
          description: |
            Vehicle list price (gross)

            > Only two decimals are accepted. If more decimals are sent they will be truncated.
          type: number
          minimum: 0
          example: 139999.95
        isTradeInPossible:
          description: Whether trade-in option is possible
          type: boolean
          example: true
        downPayment:
          description: |
            Downpayment

            > Only two decimals are accepted. If more decimals are sent they will be truncated.
          type: number
          minimum: 0
          example: 10000.00
        finalInstallment:
          description: |
            Final installment

            > Only two decimals are accepted. If more decimals are sent they will be truncated.
          type: number
          minimum: 0
          example: 9000.00
        negotiable:
          description: Monthly rate is negotiable
          type: boolean
          example: false
        conditions:
          description: Comments on the conditions around the leasing contract
          type: string
          example: Begrenztes Angebot, nur bis 31.02.2020.
        hasTransferCostsIncluded:
          description: Is the transfer of the vehicle from the manufacturer to the dealer included in the price?
          type: boolean
          minimum: 0
          example: true
        transferCosts:
          description: |
            Total costs for transporting the vehicle from the manufacturer to the dealer and subsequent preparation of the vehicle

            > Only two decimals are accepted. If more decimals are sent they will be truncated.
          type: number
          example: 100.00
        hasRegistrationCostsIncluded:
          description: Is the registration of the vehicle and the license plate included in the price?
          type: boolean
          example: false
        registrationCosts:
          description: |
            Total cost of vehicle registration including license plate number (if requested by the customer).

            > Only two decimals are accepted. If more decimals are sent they will be truncated.
          type: number
          minimum: 0
          example: 99.00
        leaseTotalAmount:
          description: |
            The total gross amount to be paid by the consumer for the entire term.

            > Only two decimals are accepted. If more decimals are sent they will be truncated.
          type: number
          minimum: 0.01
          example: 77005.60
        netLoanAmount:
          description: |
            Net loan amount (optional)

            > Only two decimals are accepted. If more decimals are sent they will be truncated.

            > **For LeasingMarkt customers:** May be set to 0

            > **For all other customers:** Minimum value is 0.01
          type: number
          minimum: 0
          example: 35956.34
        borrowingRate:
          description: |
            Borrowing rate p.a. (optional)

            > Only two decimals are accepted. If more decimals are sent they will be truncated.
          type: number
          minimum: -100
          maximum: 100
          example: 95.00
        borrowingRateType:
          description: Type of nominal interest rate (optional)
          type: string
          enum: [ "Bound", "Changeable", "Combined" ]
          example: Combined
        effectiveInterestRate:
          description: |
            Effective interest rate (optional)

            > Only two decimals are accepted. If more decimals are sent they will be truncated.
          type: number
          minimum: -100
          maximum: 100
          example: 80.00
        bank:
          description: Leasing bank (full name and address)
          type: string
          example: Volkswagen Bank AG, Römerstr. 145, 04109 Leipzig
          maxLength: 2000
          minLength: 1
        refundForLessDistance:
          description: |
            Remuneration for less distance (in cents per kilometer)

            > Forbidden for contract type is not <code>KilometerLeasing</code>

            > Only two decimals are accepted. If more decimals are sent they will be truncated.
          type: number
          minimum: 0
          example: 4.65
        additionalDistanceCost:
          description: |
            Cost per additional distance (in cents per kilometer)

            > Forbidden if contract type is not <code>KilometerLeasing</code>

            > Only two decimals are accepted. If more decimals are sent they will be truncated.
          type: number
          minimum: 0
          example: 12.65
        dieselEnvironmentalBonus:
          description: Does this offer only apply to customers who will scrap or trade in a diesel vehicle?
          type: boolean
          example: false
        duration:
          description: Term of the contract (in months)
          type: integer
          minimum: 1
          maximum: 90
          example: 48
        includedMileage:
          description: Annual mileage (in km)
          type: integer
          minimum: 0
          example: 15000
        grossMonthlyRate:
          description: |
            Monthly rate (gross)

            > Only two decimals are accepted. If more decimals are sent they will be truncated.
          type: number
          minimum: 0.01
          example: 1395.95
        netMonthlyRate:
          description: |
            Monthly rate (net)

            > Only two decimals are accepted. If more decimals are sent they will be truncated.
          type: number
          minimum: 0.01
          example: 1095.95

    LeasingOffers:
      required:
        - offers
      properties:
        offers:
          type: array
          description: |
            Allows a dealer to offer leasing when selling the vehicle.

            > Not available for dealers outside germany. This attribute only applies for customers that are dealers.
          items:
            $ref: '#/components/schemas/LeasingOffer'
        providerId:
          type: string
          description: leasing offers id
          example: 823892

    LeasingOffer:
      allOf:
        - $ref: '#/components/schemas/LeasingOfferCommon'
        - type: object
          properties:
            borrowingRateUnit:
              type: string
              description: Unit used for borrowingRate field.
              example: "%"
            effectiveInterestRateUnit:
              type: string
              description: Unit used for effectiveInterestRate field.
              example: "%"
            grossMonthlyRateUnit:
              type: string
              description: Unit used for grossMonthlyRate field.
              example: "EUR"
            netMonthlyRateUnit:
              type: string
              description: Unit used for netMonthlyRate field.
              example: "EUR"
            durationUnit:
              type: string
              description: Unit used for duration field.
              example: "months"
            includedMileageUnit:
              type: string
              description: Unit used for includedMileage field.
              example: "km"

    PartialMiaPayload:
      allOf:
        - type: object
          properties:
            requestedTier:
              type: string
              description: |
                The required tier for the MIA vehicle.
              enum: [ "T20", "T30", "T40" ]
[...]
